<!DOCTYPE html>
<html>
<head>
    <title>Coffee & Dreams - Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Coffee & Dreams Logo">
            <h2 id="username-d" alt="Coffee & Dreams Logo">
            <h2 id="username-display"></h2>
            <h2>Coffee & Dreams (๑>◡<๑)</h2>
            <h3>User: {{ current_user.fullname }}</h3>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('principal') }}">Inicio</a></li>
                {% if current_user.usertype == 1 %}
                    <li id="catalog-link"><a href="{{ url_for('mostrar_productos') }}" href="{{ url_for('catalogo') }}">Catálogo</a></li>
                    <li><a href="{{ url_for('mostrar_usuarios') }}">Usuarios</a></li>
                    <li><a href="{{ url_for('ventas') }}">Ventas</a></li>
                    {% endif %}
                <li><a href="{{ url_for('tienda') }}">Tienda</a></li>
                <li><a href="{{ url_for('acerca') }}">Acerca de</a></li> 
            </ul>
        </nav>
        <h3> </h3>
        <a class="btn btn-logout" href="{{ url_for('logout') }}">LogOut</a>
    </header>

    <main>

        <div class="about-section">
            <h2 id="TituloAcerca">Acerca de Coffee & Dreams...</h2>
            <p>Bienvenidos a Coffee & Dreams, donde el café se encuentra con la creatividad y la pasión por la excelencia. Nuestro café es un lugar único que combina la riqueza del barismo con la melodía del jazz en vivo.</p>
            
            <p>Nuestro compromiso es ofrecer a nuestros clientes una experiencia inigualable. En Coffee & Dreams, la pasión por el café se manifiesta en cada taza que servimos. Nuestro personal altamente capacitado es experto en la preparación de café gourmet de la más alta calidad.</p>
            
            <p>Nuestra atmósfera está diseñada para cautivar tus sentidos. Los aromas exquisitos se mezclan en el aire mientras disfrutas de la música jazz en vivo y exploras nuestra selección de café y té. Además, ofrecemos una gran variedad de bocadillos y repostería artesanal para acompañar tu bebida.</p>
    
            <p>Nuestro espacio también cuenta con una terraza exuberante, llena de plantas y con vistas al cielo. Durante la noche, te invitamos a observar las estrellas a través de nuestros telescopios.</p>
    
            <p>Cada domingo, ofrecemos recitales de música en vivo, desde jazz clásico hasta música contemporánea. Además, puedes disfrutar de nuestra biblioteca, que alberga una amplia colección de libros.</p>
        </div>

        <div class="calculator-button" id="toggle-calculator">Calculadora</div>
        
        <div class="calculator-container">
            <div class="calculator">
                <input type="text" id="display" value="0" readonly>
                <div class="buttons">
                    <button class="operator" value="+">+</button>
                    <button class="operator" value="-">-</button>
                    <button class="operator" value="*">*</button>
                    <button class="operator" value="/">/</button>
                    <button value="1">1</button>
                    <button value="2">2</button>
                    <button value="3">3</button>
                    <button value="4">4</button>
                    <button value="5">5</button>
                    <button value="6">6</button>
                    <button value="7">7</button>
                    <button value="8">8</button>
                    <button value="9">9</button>
                    <button value="0">0</button>
                    <button value="." class="decimal">.</button>
                    <button id="clear" class="clear">C</button>
                    <button id="calculate" class="equal">=</button>
                </div>
            </div>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='js/scriptCalculadora.js') }}"></script>
</body>
</html>
